.main-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20vh;
    position: relative;
    border: 2px solid blue;
    background-color: black;
    width: auto;
    height: 400px;
}
#backGround{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.answers{
    text-align: center;
    color: white;
    font-size: 25px;
}
.answers:hover{
    background-color: red;
}
.questions{
    text-align: center;
    color: white;
    font-size: 30px;
}
#timer{
    text-align: center;
    color: white;
    font-size: 25px;
}
#question-number{
    text-align: center;
    color: white;
    font-size: 25px;
}
.trivia-title{
    text-align: center !important;
    font-size: 35px;
    color: white;
}
.startbtn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    display: flex;


}
#rights{
    text-align: center;
    color: white;
    font-size: 25px;
}
#wrongs{
    text-align: center;
    color: white;
    font-size: 25px;
}
#game-over{
    text-align: center;
    color: white;
    font-size: 25px;
}
.startbtn2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 11vh;
    display: flex;
}